server:
  port: 8701
spring:
  application:
    name: feign-service
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8001/eureka/
# 在feign中开启hystrix熔断器功能
feign:
  user-service: http://localhost:8201/
  hystrix:
    enabled: true
logging:
  level:
    com:
      jourwon:
        springcloud:
          service: debug